.header {
  background-color: #f0e6e6;
  color: #b32020;
  padding: 20px;
  text-align: center;
  min-height: 100px;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  background-color: #f7efef;
  padding: 120px 0 0 0; /* Voeg bovenvulling toe aan de container om de motorelementen onder de header te plaatsen */
}

.Motor {
  background-color: #fffcfc;
  color: #1a1010;
  padding: 20px;
  margin: 10px;
  border: 2px solid #ddd;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  font-family: "Arial", sans-serif;
}

.Motor:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgb(37, 37, 37);
  background-color: #dbd7cb;
}

.Motor:hover p {
  color: #6e4848;
}

.Motor {
  transition: transform 0.3s, background-color 0.3s;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

p:first-child {
  font-weight: bold;
  font-size: 20px;
}

.header .logo img {
  max-width: 200px;
  height: auto;
}
