/* Aangepaste stijlen voor de transparante dropdown achtergrond */
.navbar .nav-item .nav-link,
.navbar .nav-item .dropdown-menu {
  background-color: transparent !important;
}

/* Stel de tekstkleur van de dropdown in op zwart */
.navbar .nav-item .dropdown-item {
  color: rgba(26, 25, 25, 0.789) !important;
}

/* Stel de tekstkleur van de "Models" link in op cyan */
.navbar .nav-item .nav-link {
  color: rgb(182, 102, 158) !important;
}

.custom-navbar {
  background-color: #eacfe1;
}
